<div class="card" >
	<div class="card-body">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, tempore minus mollitia voluptatum aperiam assumenda amet ratione dolorum adipisci harum esse itaque. Cumque molestias a porro vel vitae harum. Repellendus incidunt sapiente ea beatae, cumque eius iste tempore qui illum!</p>
	</div>
</div>