<div class="jumotrom mt-4">
    <h1 class="display-4" >Notes App NodeJs And MongoDB</h1>
    <p class="lead" >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4" >
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, id tempore ex doloribus mollitia, adipisci magnam qui saepe est corporis in aliquid minus, at iste! Est rerum provident laudantium eveniet.</p>
    <a href="https://github.com/GabrielVargasRV" class="btn btn-primary btn-lg" >My GitHub</a>
</div>
